<div class="wrapper">
  <div class="form">
    <div class="header">
      <a routerLink="/login" routerLinkActive="active">log in</a>
    </div>
    <h1>Sign up</h1>
    <form class="formBody">
      <div [ngSwitch]="step">
        <div *ngSwitchCase="0">
          <label>
            <span>Email</span>
            <input
              [(ngModel)]="email"
              (keyup.enter)="nextStep()"
              type="email"
              autofocus
            />
            <div *ngIf="errors.email">{{ errors.email.message }}</div>
          </label>
        </div>
        <div *ngSwitchCase="1" class="passwords">
          <label>
            <span>Pick a password</span>
            <input
              [(ngModel)]="password"
              type="password"
              autocomplete="new-password"
            />
            <div *ngIf="errors.password">{{ errors.password.message }}</div>
          </label>
          <label>
            <span>Repeat your password</span>
            <input
              [(ngModel)]="password_2"
              type="password"
              autocomplete="new-password"
            />
            <div *ngIf="errors.password_2">{{ errors.password_2.message }}</div>
          </label>
        </div>

        <div *ngSwitchCase="2">
          <label>
            <span>Create a unique login</span>
            <input [(ngModel)]="login" />
            <div *ngIf="errors.login">{{ errors.login.message }}</div>
          </label>
        </div>
      </div>
      <div class="steps">
        <button [disabled]="step == 0" (click)="previousStep()">back</button>
        <button
          *ngIf="step < 2; else submit"
          [disabled]="stepWrong"
          (click)="nextStep()"
          type="button"
        >
          next
        </button>
        <ng-template #submit>
          <button
            [disabled]="errors.login"
            (click)="submitForm()"
            type="button"
          >
            Finish
          </button>
        </ng-template>
      </div>
      <div *ngIf="errors.exists" class="error-msg">
        {{ errors.exists.message }}
      </div>
      <div *ngIf="success">A verification letter was sent to you</div>
      <div class="diagram">
        <svg
          viewBox="0 0 160 30"
          preserveAspectRatio="xMidYMid meet"
          width="160"
        >
          <circle
            *ngFor="let s of steps; let i = index"
            [attr.cx]="[15, 80, 145][i]"
            cy="15"
            r="10"
            stroke-width="3"
            [attr.fill]="
              s.complete && (step > i || step == 2) ? 'green' : 'none'
            "
            [attr.stroke]="s.complete ? 'green' : i == step ? 'black' : 'grey'"
          />
          <path
            d="M25 15 l 45 0"
            stroke-width="3"
            [attr.stroke]="
              steps[1].complete ? 'green' : step == 1 ? 'black' : 'grey'
            "
          />
          <path
            d="M90 15 l 45 0"
            stroke-width="3"
            [attr.stroke]="
              steps[2].complete ? 'green' : step == 2 ? 'black' : 'grey'
            "
          />
        </svg>
      </div>
    </form>
  </div>
</div>
