.avatar {
  width: 3em;
  clip-path: circle(1.5em at center);
}
.new-comment {
  position: fixed;
  bottom: 1vh;
  max-height: 35vh;
}
.comments {
  margin-bottom: 35vh;
}
.comment {
  margin-top: 1vh;
  .content {
    padding: 1em;
    border-left: 0.5em solid silver;
  }
}

.date {
  text-align: right;
}
.buttons {
  display: flex;
  justify-content: flex-end;
  min-height: 3em;
  padding: 0.5em;
  border-bottom: thin solid silver;
  button {
    display: none;
    margin: 0 1em;
  }
  &:hover {
    button {
      display: block;
    }
  }
}
.answer-data {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: white;
  button {
    border: none;
  }
}
.citate {
  padding: 0.5em 0;
  margin: 0 0 1em 2em;
  width: fit-content;
  border-bottom: thin solid silver;
  cursor: pointer;
}
.attachments {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  img {
    width: 30%;
  }
}
