<div>
  <div *ngIf="moder">
    <select (change)="applyFilters($event)">
      <option value="all">all</option>
      <option value="approved">approved</option>
      <option value="not">not</option>
    </select>
  </div>
  <div *ngFor="let item of items">
    <h2 (click)="openItem(item.id)">{{ item.title }}</h2>
    <div>
      <button *ngIf="moder && !item.approved" (click)="approveItem(item)">
        approve
      </button>
    </div>
  </div>
  <app-pagination
    [items]="items"
    [filters]="filters"
    [count]="count"
    [dataLoaded]="dataLoaded"
    [refresh]="refresh"
    (demand)="demand($event)"
    (feed)="feed($event)"
  ></app-pagination>
  <app-item-redactor (creator)="addItem($event)"></app-item-redactor>
</div>
