<div>
  <div *ngIf="moder">
    <select (change)="applyFilters($event)">
      <option value="all">all</option>
      <option value="approved">approved</option>
      <option value="not">not</option>
    </select>
  </div>
  <div class="wrapper">
    <div class="items">
      <div *ngFor="let item of items" class="item">
        <h2 (click)="openItem(item.id)">{{ item.title }}</h2>
        <h3>By {{item.author?.login ?? "Community"}}</h3>
        <div>
          <button *ngIf="moder && !item.approved" (click)="approveItem(item)">
            approve
          </button>
        </div>
      </div>
    </div>

    <app-pagination
      [items]="items"
      [filters]="filters"
      [count]="count"
      [dataLoaded]="dataLoaded"
      [refresh]="refresh"
      (demand)="demand($event)"
      (feed)="feed($event)"
    ></app-pagination>
  </div>
  <div class="plusItem">
    <button *ngIf="!editorOpen" (click)="editorOpen = true">+</button>
    <app-item-redactor
      *ngIf="editorOpen"
      (creator)="addItem($event)"
      (close)="editorOpen = false"
    ></app-item-redactor>
  </div>
</div>
