/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: whitesmoke;
  font-family: sans-serif;
}
button {
  cursor: pointer;
  padding: 0.4em 0.8em;
  background: white;
  border: thin solid silver;
  border-radius: 0.2em;
}
.error-msg {
  color: red;
  min-height: 1.2em;
  line-height: 1em;
  margin-top: 0.2em;
}
.outline {
  border: thin solid silver;
}
@for $m from 1 through 6 {
  $margin: 1em * $m;
  .mb-#{$m} {
    margin-bottom: $margin;
  }
  .mt-#{$m} {
    margin-top: $margin;
  }
  .my-#{$m} {
    margin: $margin 0;
  }
  .mx-#{m} {
    margin: 0 $margin;
  }
}
